body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

/* General */
.container {
  padding: 10px;
}

.container_1000 {
  max-width: 1000px;
  margin: 0 auto;
}

.container_800 {
  max-width: 800px;
  margin: 0 auto;
}

.lg_display_inl_block {
  display: inline-block;
}
.lg_display_none {
  display: none;
}

ul {
  list-style: none;
}
ul.line_list li{
  display: inline;
  margin-right: 5px;
}
ul.line_list li a {
  text-decoration: none;
}

/* HEADER */
.header_top_fixed {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  line-height: 80px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.header_top_fixed ul.line_list li a {
  text-transform: uppercase;
  color: black;
  font-size: 1.4em;
  font-weight: 600;
}

.header_top_fixed ul.line_list:first-of-type {
  text-align: right;
}

.header_top_fixed ul.line_list.languages li:not(:last-child)::after {
  content: '|';
  margin-left: 10px;
}

header .jumbotron .container-fluid{
  position: relative;
  margin-top: 80px;
  height: 50vh;
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
}

header .jumbotron .banner_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
header .jumbotron .banner_text h1 {
  font-size: 4.2em;
}
header .jumbotron .banner_text p {
  font-size: 1.4em;
  font-weight: 600;
  margin: 20px;
}

/* MAIN */

/* helbizGo */
main section [class^="col-"] {
  text-align: center;
}

main section [class^="col-"] img {
  display: block;
  width: 30%;
  margin: 0 auto;
}

main section:first-child {
  padding: 50px;
}
main section:first-child div {
  background-color: #FAFAFA;
  padding: 0 10px;
}
main section:first-child h2 {
  font-size: 1.8em;
}
main section:first-child p {
  font-size: 1.2em;
  font-weight: 600;
  margin: 10px 0;
}
main section:first-child a {
  text-decoration: none;
  font-weight: 600;
}
main section:first-child a:first-child::after {
  content: '>';
  margin-left: 5px;
}
main section:first-child img {
  margin-top: 20px;
}

/* smartphone */
.container-fluid.bg_smartphone {
  height: 45vh;
  background-image: url('../img/HelbizBanner.jpg');
  background-position: center;
  background-size: cover;
}
main section:nth-child(2) div.container_1000 {
  position: relative;
  height: 35vh;
}
main section:nth-child(2) div.container_1000 img {
  position: absolute;
  width: 35vh;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}
main section:nth-child(2) div.container_1000 .text_container {
  position: relative;
}
main section:nth-child(2) div.container_1000 .text_container .text {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
}
main section:nth-child(2) div.container_1000 .text_container .text h3,
main section:nth-child(2) div.container_1000 .text_container .text h5,
main section:nth-child(2) div.container_1000 .text_container .text span {
  font-weight: 600;
}
main section:nth-child(2) div.container_1000 .text_container .text h3 {
  font-size: 2.4em;
}
main section:nth-child(2) div.container_1000 .text_container .text h5 {
  font-size: 1.2em;
}
/* HAMBURGER */
@media screen and (max-width: 992px) {
  #header_logo {
    margin-left: 30px;
  }

  #hamburger {
    float: right;
    color: black;
    font-size: 2em;
    text-decoration: none;
    margin-right: 30px;
  }

  .container-fluid.bg_smartphone {
    background-position: left;
  }
}

/* TABLET */
@media screen and (max-width: 992px) and (min-width: 768px) {
  .md_display_inl_block {
    display: inline-block;
  }
  .md_display_none {
    display: none;
  }
}


/* MOBILE */
@media screen and (max-width: 768px) {
  .xs_display_inl_block {
    display: inline-block;
  }
  .xs_display_none {
    display: none;
  }

  main section:first-child div:last-child {
    margin-top: 50px;
  }
}
