body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

/* General */
.container {
  padding: 10px;
}

.container_1000 {
  max-width: 1000px;
  margin: 0 auto;
}

.container_800 {
  max-width: 800px;
  margin: 0 auto;
}

.lg_display_inl_block {
  display: inline-block;
}
.lg_display_none {
  display: none;
}

main a.learn_more::after {
  content: '>';
  margin: 0 5px;
}

/* liste */
ul {
  list-style: none;
}
ul.line_list li{
  display: inline;
  margin-right: 5px;
}
ul.line_list li a {
  text-decoration: none;
}

/* banner */
.banner_text {
  color: white;
  text-align: center;
}
.banner_text h1 {
  font-size: 4.2em;
}
.banner_text h2 {
  font-size: 3.8em;
}
.banner_text p {
  font-size: 1.4em;
  font-weight: 600;
  margin: 20px;
}

/* HEADER */
.header_top_fixed {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  line-height: 80px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.header_top_fixed ul.line_list li a {
  text-transform: uppercase;
  color: black;
  font-size: 1.4em;
  font-weight: 600;
}

.header_top_fixed ul.line_list:first-of-type {
  text-align: right;
}

.header_top_fixed ul.line_list.languages li:not(:last-child)::after {
  content: '|';
  margin-left: 10px;
}

header .jumbotron .container-fluid{
  position: relative;
  margin-top: 80px;
  height: 50vh;
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
}

header .jumbotron .banner_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* MAIN */

/* helbizGo */
main section [class^="col-"] {
  text-align: center;
}

main section [class^="col-"] img {
  display: block;
  width: 30%;
  margin: 0 auto;
}

main section:first-child {
  padding: 50px;
}
main section:first-child div.container [class*="col-"] > .container {
  background-color: #FAFAFA;
  margin: 30px;
}
main section:first-child h2 {
  font-size: 1.8em;
}
main section:first-child p {
  font-size: 1.2em;
  font-weight: 600;
  margin: 10px 0;
}
main section:first-child a {
  text-decoration: none;
  font-weight: 600;
}

main section:first-child img {
  margin-top: 20px;
}

/* smartphone */
.container-fluid.bg_smartphone {
  height: 45vh;
  background-image: url('../img/HelbizBanner.jpg');
  background-position: center;
  background-size: cover;
}
main section:nth-child(2) div.container_1000 {
  position: relative;
  height: 35vh;
}
main section:nth-child(2) div.container_1000 img {
  position: absolute;
  width: 35vh;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}
main section:nth-child(2) div.container_1000 .text_container {
  position: relative;
}
main section:nth-child(2) div.container_1000 .text_container .text {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
}
main section:nth-child(2) div.container_1000 .text_container .text h3,
main section:nth-child(2) div.container_1000 .text_container .text h5,
main section:nth-child(2) div.container_1000 .text_container .text span {
  font-weight: 600;
}
main section:nth-child(2) div.container_1000 .text_container .text h3 {
  font-size: 2.4em;
}
main section:nth-child(2) div.container_1000 .text_container .text h5 {
  font-size: 1.2em;
}

/* BANNER sezione main */
div.banner {
  position: relative;
  height: 35vh;
  margin-bottom: 30px;
}

div.banner.banner_top {
  background-image: url('../img/ScooterHelbiz-2400.jpg');
  background-size: cover;
  background-position: left;
}

div.banner_top .banner_text {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  width: 25%;
}

div.banner_bg_left {
  background-image: linear-gradient(#41566a,#252f38);
  margin-right: 30px;
}
div.banner.banner_right {
  background-image: url('../img/Cities-1500.jpg');
  background-position: center;
  background-size: cover;
}
div.banner.banner_left {
  background-image: url('../img/HelbiZAPP.png');
  background-size: 70% 55%;
  background-position: bottom;
  background-repeat: no-repeat;
}

div.banner_top .banner_text a,
div.banner_left .banner_text a,
div.banner_right .banner_text a {
  color: white;
  text-decoration: none;
}

/* SOCIAL */
.social_bg {
  position: relative;
  height: 35vh;
  background-image: url('../img/Social-Banner.jpg');
  background-size: cover;
}

.social_bg .social_text_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 40%;
  background-color: white;
}

.social_bg .social_text_container .social_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

.social_bg .social_text_container .social_text li {
  margin: 0 8px;
}
.social_bg .social_text_container .social_text li a {
  font-size: 1.7em;
  color: black;
}

/* FOOTER */
/* first container */
footer .container-fluid {
  height: 70vh;
  background-color: black;
  margin-top: 30px;
  padding-top: 80px;
  padding-bottom: 30px;
}

footer .container-fluid .container a {
  color: white;
  text-decoration: none;
}
footer .container-fluid .container:first-child img {
 -webkit-filter: invert(1);
 filter: invert(1);
}

footer .container-fluid .container:first-child ul li {
  margin-bottom: 20px;
}
footer .container-fluid .container:first-child ul li:first-of-type {
  text-transform: uppercase;
  font-size: 1.8em;
  color: white;
}
footer .container-fluid .container:first-child ul li a{
  font-size: 1.4em;
  color: grey;
}

/* second container */
footer .container-fluid .container:nth-child(2) {
  height: 10vh;
  line-height: 8vh;
  border-top: 1px solid rgba(207, 207, 207, 0.45);
  border-bottom: 1px solid rgba(207, 207, 207, 0.45);
  margin-bottom: 10px;
}
footer .container-fluid .container:nth-child(2) ul li {
  font-size: 1.6em;
  margin-right: 15px;
}

footer .container-fluid .container:nth-child(2) a {
  font-size: 1.1em;
}

/* third container */
footer .container:last-child {
  text-align: center;
}
footer .container:last-child a img {
  border: 1px solid white;
  border-radius: 5px;
}

/* HAMBURGER */
@media screen and (max-width: 992px) {
  #header_logo {
    margin-left: 30px;
  }

  #hamburger {
    float: right;
    color: black;
    font-size: 2em;
    text-decoration: none;
    margin-right: 30px;
  }

  .container-fluid.bg_smartphone {
    background-position: left;
  }

  footer .container-fluid {
    height: 80vh;
  }

  footer #logo_footer {
    margin-bottom: 40px;
  }

  footer .social,
  footer .second_container_list {
    text-align: center;
  }
}

/* TABLET */
@media screen and (max-width: 992px) and (min-width: 768px) {
  .md_display_inl_block {
    display: inline-block;
  }
  .md_display_none {
    display: none;
  }
}


/* MOBILE */
@media screen and (max-width: 768px) {
  .xs_display_inl_block {
    display: inline-block;
  }
  .xs_display_none {
    display: none;
  }

  main section:first-child div:last-child {
    margin-top: 50px;
  }

  footer .container-fluid {
    padding-left: 20px;
  }
}
